---
layout: default
permalink: /portfolio/
---

<!-- ----------------------------------------------------------------------------------------------------------
Illustration - Desktop
---------------------------------------------------------------------------------------------------------- -->

<div id="Portfolio"></div>
<section id="Illustrations" class="comic-page">
    <h1>ILLUSTRATIONS</h1>
    
   <div class="flex-container comic-panels">
        {% for post in site.posts %}
        {% if post.tags contains "Portfolio1" %}
        <div class="tall-panel desktop">
            <svg width="100%" height="97%"viewBox="4 -0.15 10 26.75">
                <rect x="5" y="0" width="90%" height="100%"></rect>

                <clipPath id="tallClip">
                        <rect x="5" y="0" width="87.5%" height="99.5%"></rect>
                </clipPath>
                <image clip-path="url(#tallClip)" height="30" width=28 xlink:href="{{ site.url }}/assets/images/{{page.img}}" />
            </svg>
        </div>
        {% endif %}
        {% endfor %}
        <div class="panel-column desktop">
            <div class="panel first-panel">git
                <svg width="100%" viewBox="0 1.5 10 10">
                    <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    <clipPath id="myClip">
                        <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    </clipPath>
                    <image clip-path="url(#myClip)" height="12" width="10" xlink:href="{{ site.url }}/assets/images/{{ posts.img }}" />
                </svg>
            </div>

            <div class="panel second-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    <clipPath id="Clip2">
                            <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip2)" height="12" width="10" xlink:href="{{ site.url }}/assets/images/{{ posts.img }}" />
                </svg>
            </div>

            <div class="panel third-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    <clipPath id="Clip3">
                            <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip3)" height="13" width="10" xlink:href="{{ site.url }}/assets/images/Buble.png" />
                </svg>
            </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------
Illustration - Mobile
---------------------------------------------------------------------------------------------------------- -->

        <div class="tall-panel mobile">
            <svg width="100%" height="97%"viewBox="4 -0.25 10 20">
                <rect x="4.5" y="0" width="90%" height="100%"></rect>
                <clipPath id="tallClipM">
                    <rect x="4.5" y="0" width="90%" height="97.5%"></rect>
                </clipPath>
                <image clip-path="url(#tallClipM)" height="25" width="25" xlink:href="{{ site.url }}/assets/images/Ultraman.jpg" />
            </svg>
        </div>

        <div class="panel-column mobile">
            <div class="panel first-panel">
                <svg width="100%" viewBox="0 1.5 10 10">
                    <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    <clipPath id="myClip">
                        <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    </clipPath>
                    <image clip-path="url(#myClip)" height="12" width="10" xlink:href="{{ site.url }}/assets/images/Wolverine.png" />
                </svg>
            </div>

            <div class="panel second-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    <clipPath id="Clip2">
                            <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip2)" height="12" width="10" xlink:href="{{ site.url }}/assets/images/Death.png" />
                </svg>
            </div>

            <div class="panel third-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    <clipPath id="Clip3">
                        <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip3)" height="13" width="10" xlink:href="{{ site.url }}/assets/images/Buble.png" />
                </svg>
            </div>
        </div>
    </div>
</section>

<div class="transition"></div>

<!-- ----------------------------------------------------------------------------------------------------------
Design - Desktop
---------------------------------------------------------------------------------------------------------- -->

<section id="Design" class="comic-page">
    <h1>DESIGN</h1>
    <div class="flex-container comic-panels">
        <div class="panel-column desktop">
            <div class="panel first-panel">
                <svg width="100%" viewBox="0 1.5 10 10">
                    <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    <clipPath id="myClip">
                        <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    </clipPath>
                    <image clip-path="url(#myClip)" height="10" width="19" xlink:href="{{ site.url }}/assets/images/Orange.png" />
                </svg>
            </div>

            <div class="panel second-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    <clipPath id="Clip2">
                        <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip2)" height="9" width="11" xlink:href="{{ site.url }}/assets/images/Vako.png" />
                </svg>
            </div>

            <div class="panel third-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    <clipPath id="Clip3">
                        <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip3)" height="9" width="10" xlink:href="{{ site.url }}/assets/images/Toy.png" />
                </svg>
            </div>
        </div>

        <div class="tall-panel desktop">
            <svg width="100%" height="97%"viewBox="4.75 -0.15 10 26.75">
                <rect x="5" y="0" width="90%" height="100%"></rect>
                <clipPath id="tallClip2">
                    <rect x="5" y="0" width="90%" height="100%"></rect>
                </clipPath>
                <image clip-path="url(#tallClip2)" height="27" width="19" xlink:href="{{ site.url }}/assets/images/Movie.png" />
            </svg>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------
Design - Mobile
---------------------------------------------------------------------------------------------------------- -->

        <div class="panel-column mobile">
            <div class="panel first-panel">
                <svg width="100%" viewBox="0 1.5 10 10">
                    <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    <clipPath id="myClip">
                        <polygon points="0.5 2, 9.5 2, 9.5 9, 0.5, 7"/>
                    </clipPath>
                    <image clip-path="url(#myClip)" height="10" width="19" xlink:href="{{ site.url }}/assets/images/Orange.png" />
                </svg>
            </div>

            <div class="panel second-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    <clipPath id="Clip2">
                        <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 5.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip2)" height="9" width="11" xlink:href="{{ site.url }}/assets/images/Vako.png" />
                </svg>
            </div>

            <div class="panel third-panel">
                <svg width="100%" viewBox="0 0 10 10">
                    <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    <clipPath id="Clip3">
                        <polygon points="0.5 0.5, 9.5 2.5, 9.5 7.5, 0.5, 7.5"/>
                    </clipPath>
                    <image clip-path="url(#Clip3)" height="9" width="10" xlink:href="{{ site.url }}/assets/images/Toy.png" />
                </svg>
            </div>
        </div>

        <div class="tall-panel mobile">
            <svg width="100%" height="97%"viewBox="4.6 -0.15 10 20">
                <rect x="5" y="0" width="92%" height="100%"></rect>
                <clipPath id="tallClip2M">
                    <rect x="5" y="0" width="92%" height="97.5%"></rect>
                </clipPath>
                <image clip-path="url(#tallClip2M)" height="25" width="19" xlink:href="{{ site.url }}/assets/images/Movie.png" />
            </svg>
        </div>
    </div>
</section>
</body>
</html>