<!-- ----------------------------------------------------------------------------------------------------------
Header & Navigation - Desktop
---------------------------------------------------------------------------------------------------------- -->

<header class="flex-box top-header">
    <img class="section-item" src="{{ site.url }}/assets/images/Logo.svg" alt="Logo" height="100px">
    <nav>
        <ul>
            <li>
                <a href="{{ site.url }}/#About">About</a>
            </li>
            <li>
                <a href="{{ site.url }}/portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>
</header>
