
/* ----------------------------------------------------------------------------------------------------------
Everything
---------------------------------------------------------------------------------------------------------- */

body {
    width: 65vw;
    margin: 0 auto;
    /* border: 1px solid black; */
    height: 600px;
    font-family: 'europa', sans-serif;
    font-weight: 400;
    background-color: black;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------
Main Page / Landing
---------------------------------------------------------------------------------------------------------- */

#Main {
    background-image: url("{{ site.url }}/assets/images/Superman3.jpg"), linear-gradient(#73c0ff, #3662f1);
    background-size: cover;
    background-position: 50% 35%;
    padding-top: 5%;
    height: 100vh;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    /* border: 1px solid black; */
    
}

.half {
    width: 45%;
    height: 100%;
    margin-right:4%;
    /* border: 1px solid black; */
}

.Frame {
    stroke: white;
    stroke-width: 0.25px;
    position: absolute;
    left: 50%;
    width: 30%;
    height: 30%;
    /* border: 1px solid black; */
}

.Text {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 30%;
    /* border: 1px solid black; */
}

.infobox1 {
    top: 15%;
}

.info1 {
    top: 15%;
    left: 57%;
}

.infobox2 {
    top: 45%;
}

.info2 {
    top: 45%;
    left: 59%;
}

.infobox3 {
    stroke: Black;
    top: 75%;
}

.info {
    width: 100%;
    margin-bottom: 40%;
    /* border: 1px solid black; */
}

h2{
    margin-top: 7%;
    font-size: 2vw;
}

p {
    margin-top: 1%;
    font-size: 0.9vw;
}

li {
    font-size: 1.25vw;
    margin-top: 2%;
    margin-bottom: 2%;
}
