/* ----------------------------------------------------------------------------------------------------------
Media Queries
---------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
    .mobile, .full{ display:none}
  }

@media only screen and (max-width: 768px) {
.half,.desk { display:none}
.desktop {opacity: 0;
    position:fixed;}
body {
    width: 100vw;}
}

/* ----------------------------------------------------------------------------------------------------------
Mobile
---------------------------------------------------------------------------------------------------------- */

.full {
    margin: 0 auto;
    width: 100%;
}

.full > .info {
    background-color: black;
    color: white;
    padding: 2.5% 10%;
    width: 80%;
    margin-bottom: 1%;
}

.full > .info > h2 {
    font-size: 5vw;
}

.full > .info > p {
    font-size: 3vw;
}

.full > .info > ul > li {
    font-size: 3vw;
}

.mobile {
    flex-basis: 100%;
}
